ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4FD0C4;

    #logout{
        float: right;
    }

    li {
        float: left;
        a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            :hover {
                color: #f1f1f1;
            } 
        }
    }

}