<div class="container-fluid">
    <div id="search-wrap">
        <div class="row" style="text-align:center">
            Input keyword to search
        </div>
        <div class="row" style="text-align:center">
            <input/>
        </div>
        <div class="row" style="text-align:center">
            <!-- <div class="col col-sm-6" style="text-align:center"> -->
            <input type="text" placeholder="input data" />
            <!-- </div> -->
        </div>
        <div class="row">
            <div class="col-sm-12" style="text-align:center">
                <button>Search</button>
            </div>
        </div>
    </div>

    <!-- <div id="add-wrap">
        <div class="row">
            <button>Add</button>
        </div>
    </div> -->
</div>
